<div class="box static">
  static
</div>

<div class="box relative">
  relative
</div>

<div class="box absolute">
  absolute
</div>

<div class="box overflow-hidden">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi ipsa, repellat, enim voluptatem tenetur libero possimus sit accusantium voluptatum, aliquam labore blanditiis non iste minima minus. Porro quaerat dolor, enim. 
</div>

<div class="box fixed">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, mollitia ratione id. Reprehenderit aperiam ratione eius, vel recusandae nihil, nulla blanditiis dolor repudiandae molestiae dignissimos explicabo nemo repellendus, dolorem veniam.
</div>

<div class="box absolute z-index1"></div>
<div class="box absolute z-index2"></div>
<div class="box absolute z-index3"></div>

<div class="box goldfish">
  <a href="http://ga.co" target="_blank">
    <img src="http://i.imgur.com/zKLK1I0.jpg" alt="nerds">
  </a>  
</div>