<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Positioning Demo</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="container">
    <%= yield %>    
  </div>
  
</body>
</html>