<section>
  <form action="/cloud" method="get">
    <div class="input-group">
      <label for="site_search">Search:</label>
      <input type="search" name="site_search" placeholder="hotdogs">
    </div>

    <div class="input-group">
      <label for="hotdogs">what style of hotdogs?</label>
      <input type="text" name="hotdogs" id="hotdogs" placeholder="Australian">
    </div>

    <div class="input-group">
      <label for="secret_password">Secret password:</label>
      <input type="password" id="secret_password" name="secret_password">
    </div>

    <div class="input-group">
      <label for="hotdog_count">How many hotdogs?</label>
      <input type="number" name="hotdog_count" placeholder="75">
    </div>

    <div class="input-group">
      <label for="when">Start date:</label>
      <input type="date" name="start_time" id="what_time">
    </div>

    <button>Send to the server</button>

  </form>
</section>