<h1>quick search</h1>

<form action="/search_results">
  <label for="search">Search for:</label>
  <input type="search" name="search_string" placeholder="hotdogs">
  <button>Do Search now</button>
</form>