<html>
<head>
  <title>prevent strangers from hacking your password</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
  <h1>Emergency password checkr</h1>
  <p>This site is secure</p>

  <%= yield %>

  <p>&copy; copywrite DT - don't steal my code you nerds!!!</p>
</body>
</html>