<h2>new dish</h2>

<form action="/dishes" method="post">
  <label for="">Name</label>
  <input type="text" name="name"><br/>
  <label for="">Image URL</label>
  <input type="text" name="image_url"><br/>
  <label for="">Meal Type</label>
  <input type="text" name="meal_type"><br/>

  <button>Create</button>
</form>