

<div id="container">

  <div id="sidebar">
    <div id="newQuote">
      <input type="text">
      <button>say wok?</button>
    </div>

    <ul>
    </ul>
  </div><!--
--><div id="quote">
    <div>
      <p>just wdi things</p>
    </div>
  </div>

</div>