<%= form_tag '/posts' do %>  
  <p>
    <label for="name">name</label>
    <input type="text" name="name" id="name" >
  </p>
  <p>
    <label for="">Image URL</label>
    <input type="text" name="image_url">
  </p>
  <p>
    <label for="">Content</label>
    <textarea name="content" id=""></textarea>    
  </p>
  <button>fumble it!</button>
<% end %>