
<h1>Home</h1>


<div class="row">

  <div class="col-sm-6 col-xs-12">
    <p><%= link_to 'new book', '/books/new', class: 'btn btn-primary' %></p>
  </div>

  <div class="col-sm-6 col-xs-12">
    <p><%= link_to 'new recipe', new_recipe_path, class: 'btn btn-primary' %></p>
  </div>

</div>



