<!DOCTYPE html>
<html>
<head>
  <title>JustWdiThings</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script type="template/handlebars" id="quoteItemView">
  <p>{{ body }} <span>{{ author }}</span></p>
</script>

<script>
  var App = {};
</script>
<%= javascript_include_tag 'application' %>
</body>
</html>
