<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <p><a href="/">Home</a> | <a href="/posts/new">New Post</a></p>

  <%= yield %>

</body>