<form action="/posts" method="post">
  <p>
    <label for="title">Title</label>
    <input type="text" name="title" id="title" >
  </p>
  <p>
    <label for="">Image URL</label>
    <input type="text" name="image_url">
  </p>
  <p>
    <label for="">Content</label>
    <textarea name="content" id=""></textarea>    
  </p>
  <button>fumble it!</button>
</form>